*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-de-fundo:#f0f4f8;
    --cor-de-texto:#1a202c;
    --cor-primaria:#4299e1;
    --cor-secudaria:#2b6cb0;
    --cor-de-fundo-card:#ffffff;
    --fonte:'inter', Arial, sans-serif;
    --transicao:all 0.3s ease;
}
body{
    font-family:var(--fonte);
}

.container{
    max-width: 1200px;
    margin:0 auto;
    padding: 0 2rem;
}

h2{
    font-size: 2.5rem;
    margin-bottom:2rem;
    text-align: center;
    color:var(--cor-secudaria)
}
    

header{
    background-color: var(--cor-de-fundo-card);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color:var(--cor-primaria);
}

.nav-links{
    display: flex;
    list-style: none;

}

.nav-links li{
    margin-left: 2rem;
}

.nav-links a{
    color:var(--cor-de-texto);
    text-decoration:none;
    transition: var(--transicao);

}

.nav-links a:hover{
    color:var(--cor-primaria);
}

main{
    margin-top:5rem;
}
section{
    padding: 6rem 0;
}

.dev{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
    align-items: center;
}
.dev-texto h1{
    font-size: 2.5rem;
    margin-bottom:1rem;
    color:var(--cor-primaria);
}

.dev-texto p{
    font-size:1.23rem;
    margin-bottom:2rem;
}
.botão-de-contato{
    background-color:var(--cor-primaria);
    text-decoration:none;
    color:white;
    padding:0.75rem 1.5rem;
    border-radius:5px;
    transition:var(--transicao);
}

.botão-de-contato:hover{
    background-color:var(--cor-secudaria);
}

.dev-imagem{
    position: relative;
}

.imagem-perfil{
    box-shadow: 0 10px 20px rgba(0.1, 0, 0, 0.1);
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 400px;
    object-fit: cover;
}

.skills-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    gap:4rem;
}

.skills-item{
    background-color: var(--cor-de-fundo-card);
    box-shadow:0 4px 6px rgba(0.5, 0.5, 0.5, 0.5);
    padding: 1.5rem;
    text-align: center;
    border-radius: 10px;
    transition:var(--transicao);


}

.skills-item:hover{
    transform: translateY(-5px);
}

.skill-icon{
    font-size: 2.5rem;
    margin-bottom: 1rem;
   
}

.projetos-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap:2rem;
    
}
